<html xmlns:th="http://www.thymeleaf.org" th:fragment="admin-form-layout(formContent, sessionAttribute)" th:with="randomSuffix = ${randomSuffix} == null ? ${#strings.randomAlphanumeric(5)} : ${randomSuffix}">
	<section role="placeholder">
		<div class="card text-center">
			<div class="card-header">
				<div class="clearfix"></div>
			</div>
			
			<div class="card-body">
				<form action="#" th:object="${object}" method="POST" role="form">
					<section th:role="form-content" th:form-content-id="${sessionAttribute}" th:form-random-suffix="${randomSuffix}"><section><section th:replace="${formContent}"></section></section></section>
					
					<div class="row" style="margin-top: 1.5rem;">
						<div class="col-md-5">
							<button type="button" class="btn btn-primary" id="btnSave">OK</button>
						</div>
						<div class="col-md-5">
							<button type="button" class="btn btn-secondary" id="btnCancel">Cancel</button>
						</div>
					</div>
				</form>
				
				<form role="filter-form" th:filter-form-id="'filter-form-' + ${randomSuffix}">
					<input type="hidden" name="sessionAttribute" id="sessionAttribute" />
					<input type="hidden" name="name" id="name" />
					<input type="hidden" name="value" id="value" />
					<input type="hidden" name="randomSuffix" id="randomSuffix" th:vale="${randomSuffix}"/>
				</form>
				
				<form role="value-change-form" th:value-change-form-id="'value-change-form-' + ${randomSuffix}" th:action="@{/on-value-change}">
					<input type="hidden" name="sessionAttribute" id="sessionAttribute" th:value="${sessionAttribute}" />
					<input type="hidden" name="name" id="name" />
					<input type="hidden" name="value" id="value" />
					<input type="hidden" name="event" id="event" />
					<input type="hidden" name="fragmentUrl" id="fragmentUrl" th:value="${T(com.mpodda.thymeleaf_sample.thymeleaf.FragmentUtils).onValueChangeFormComponentfragmentUrl(#ctx)}"/>
					<input type="hidden" name="randomSuffix" id="randomSuffix" th:vale="${randomSuffix}"/>
				</form>
				
			</div>
			
			<div class="card-footer text-body-secondary" style="font-weight:bold;"></div>
		</div>
	</section>
</html>