<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>.</title>
</head>
<body>
	<!-- Text -->
		<th:block th:fragment="text (label, name, value)" th:with="readOnly = ${readOnly}, id=${name} + '_' + ${randomSuffix}">
			<div class="col-md-1">
				<label class="form-label" th:for="${id}" th:text="${label} + ': '"></label>
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" th:id="${id}" th:classappend="${T(com.mpodda.thymeleaf_sample.thymeleaf.ValidationUtils).fieldIsInvalid(#ctx, name)} ? 'is-invalid'" th:name="${name}" th:placeholder="${label}" th:value="${value}" />
				
				<div class="invalid-feedback" th:text="${T(com.mpodda.thymeleaf_sample.thymeleaf.ValidationUtils).errorMessage(#ctx, name)}"></div>
			</div>
		</th:block>
	<!-- / Text -->
	
	<!-- Hidden -->
		<th:block th:fragment="hidden (name, value)">
			<input type="hidden" th:name="${name}" th:value="${value}">
		</th:block>
	<!-- / Hidden -->
	
	<!-- Datalist -->
		
	<!-- ./ Datalist -->
	
</body>
</html>