<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>.</title>
</head>

<th:block th:fragment="grid-fragment(sessionAttribute, gridContent)" th:with="randomSuffix=${pagingAndSortingDto.get(sessionAttribute).randomSuffix} == null ? ${#strings.randomAlphanumeric(5)} : ${pagingAndSortingDto.get(sessionAttribute).randomSuffix}, paging = (${paging} == null ? true : ${paging})">
	<section role="grid-component">
		<section role="grid-content" th:random-suffix="${randomSuffix}">
			<section th:replace="${gridContent}"></section>
		</section>

		<th:block th:if="${paging}">
			<section th:role="grid-paging" th:random-suffix="${randomSuffix}">
				<nav aria-label="pagination" id="paginator">
					<ul class="pagination" th:with="isFirstPage = ${pagingAndSortingDto.get(sessionAttribute).pageNumber == 1}, currentPageNumber = ${pagingAndSortingDto.get(sessionAttribute).pageNumber}, isLastPage = ${pagingAndSortingDto.get(sessionAttribute).pageNumber == pagingAndSortingDto.get(sessionAttribute).numberOfPages}">
						<!-- Navigation to first and previous page  -->
						<li class="page-item" th:classappend="${isFirstPage} ? 'disabled' : ''"><button role="page-link" aria-current="page" th:data-page-number="1" class="page-link">&laquo;</button></li>
						<li class="page-item" th:classappend="${isFirstPage} ? 'disabled' : ''"><button role="page-link" aria-current="page" th:data-page-number="${pagingAndSortingDto.get(sessionAttribute).previousPageNumber}" class="page-link">&lsaquo;</button></li>
						<!-- / Navigation too first and previous page  -->

						<!-- First Pages  -->
						<th:block th:if="${!pagingAndSortingDto.get(sessionAttribute).firstPageNumbers.isEmpty()}">
							<li th:each="pageNumber, iterator:${pagingAndSortingDto.get(sessionAttribute).firstPageNumbers}" class="page-item"><button role="page-link" aria-current="page" th:data-page-number="${pageNumber}" class="page-link" th:text="${pageNumber}"></button></li>
							<li class="page-item disabled"><button aria-current="page" class="page-link">&hellip;</button></li>
						</th:block>
						<!-- / First Pages  -->
						
						<th:block th:each="pageNumber, iterator:${pagingAndSortingDto.get(sessionAttribute).pageNumbers}">
							<li class="page-item" th:classappend="${pageNumber.isCurrentPage} ? 'active':''" ><button role="page-link" aria-current="page" th:data-page-number="${pageNumber.value}" class="page-link" th:attrappend="disabled = ${pageNumber.value == currentPageNumber ? 'disabled' : ''}" th:text="${pageNumber.value}"></button></li>						
						</th:block>

						<!-- Last Pages  -->
						<th:block th:if="${!pagingAndSortingDto.get(sessionAttribute).lastPageNumbers.isEmpty()}">
							<li class="page-item disabled"><button aria-current="page" class="page-link">&hellip;</button></li>
							<li th:each="pageNumber, iterator:${pagingAndSortingDto.get(sessionAttribute).lastPageNumbers}" class="page-item"><button role="page-link" aria-current="page" th:data-page-number="${pageNumber}" class="page-link" th:text="${pageNumber}"></button></li>
						</th:block>
						<!-- / Last Pages  -->
						
						<!-- Navigation to next and last page  -->
						<li class="page-item" th:classappend="${isLastPage} ? 'disabled' : ''"><button role="page-link" aria-current="page" th:data-page-number="${pagingAndSortingDto.get(sessionAttribute).nextPageNumber}" class="page-link">&rsaquo;</button></li>
						<li class="page-item" th:classappend="${isLastPage} ? 'disabled' : ''"><button role="page-link" aria-current="page" th:data-page-number="${pagingAndSortingDto.get(sessionAttribute).numberOfPages}" class="page-link">&raquo;</button></li>
						<!-- / Navigation too next and last page  -->
					</ul>					
				</nav>
			</section>
		</th:block>

		<th:block>
			<form th:grid-form-id="'grid-form-' + ${randomSuffix}" th:action="@{/paging-sort}" th:with="filters = ${pagingAndSortingDto.get(sessionAttribute).filters}">
				<input type="hidden" name="currentSortField" th:value="${pagingAndSortingDto.get(sessionAttribute).currentSortField}" />
				<input type="hidden" name="currentSortDirection" th:value="${pagingAndSortingDto.get(sessionAttribute).currentSortDirection}" />
				<input type="hidden" name="randomSuffix" th:value="${pagingAndSortingDto.get(sessionAttribute).randomSuffix == null ? randomSuffix : pagingAndSortingDto.get(sessionAttribute).randomSuffix}" />
				<input type="hidden" name="viewName" th:value="${currentUrl}" />
				<input type="hidden" name="fragmentUrl" th:value="${T(com.mpodda.thymeleaf_sample.thymeleaf.FragmentUtils).fragmentUrl(#ctx)}" />
				<input type="hidden" name="sessionAttribute" th:value="${pagingAndSortingDto.get(sessionAttribute).sessionAttribute == null ? sessionAttribute : pagingAndSortingDto.get(sessionAttribute).sessionAttribute}" />
				<input type="hidden" name="pageNumber" th:value="${pagingAndSortingDto.get(sessionAttribute).pageNumber == null ? 1 : pagingAndSortingDto.get(sessionAttribute).pageNumber}" />
				
				<th:block th:each="filter, iterator:${filters}">
					<input type="text" th:name="${'filters[' + iterator.index + '].filterField'}" th:value="${filter.filterField}"   />
					<input type="text" th:name="${'filters[' + iterator.index + '].filterValue'}" th:value="${filter.filterValue}" role="filter-value" th:filter-value-index="${iterator.index}" />
					<input type="text" th:name="${'filters[' + iterator.index + '].operator'}" th:value="${filter.operator}" />
				</th:block>
			</form>
		</th:block>
	</section>
</th:block>

<th:block th:fragment="column-header(text, sortField)" th:with="filter = ${filter} == null ? false : ${filter}, filterOperation = ${filterOperation} == null ? 'CONTAINS' :  ${filterOperation}, sortDirection = (${pagingAndSortingDto.get(sessionAttribute).currentSortField} == ${sortField} ?  ${pagingAndSortingDto.get(sessionAttribute).currentSortDirection} : '')">
	<th scope="col">
		<span role="sort-column" th:sort-field="${sortField}" th:data-type="${dataType}" style="cursor: pointer;">
			<th:block th:insert="~{ :: sort(sortDirection=${sortDirection})}"></th:block>
			<span th:text="${text}"></span>
		</span>
		
		<th:block th:if="${filter == true}">
			<th:block th:with="index = ${T(com.mpodda.thymeleaf_sample.thymeleaf.FilterUtils).addFilterField(#ctx, sessionAttribute, sortField, filterOperation)}">
				<th:block th:insert="~{ :: filter(${sortField}, ${index})}"></th:block>
			</th:block>
			
		</th:block>
	</th>
</th:block>

<th:block th:fragment="sort" th:with="sortDirection=${sortDirection}">
	<th:block th:if="${sortDirection == 'asc'}">
		<span class="fa-solid fa-sort-up">&nbsp;</span>
	</th:block>
	
	<th:block th:if="${sortDirection == 'desc'}">
		<span class="fa-solid fa-sort-down">&nbsp;</span>
	</th:block>

	<th:block th:if="${sortDirection == ''}">
		<span class="fa-solid fa-sort">&nbsp;</span>
	</th:block>
	
	<th:block th:unless="${sortDirection}">
		<span class="fa-solid fa-sort">&nbsp;</span>
	</th:block>
</th:block>

<th:block th:fragment="filter(field, index)">
	<span><input type="text" size="10" maxlength="20" style="margin-right: 0.5rem;" role="filter" th:session-attribute="${sessionAttribute}" th:filter-field="${field}" th:filter-field-index="${index}" /></span><span><i class="fa-solid fa-filter"></i></span>
</th:block>

<body>
