<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <title>.</title>
</head>

<th:block th:fragment="grid" layout:fragment="grid-fragment(sessionAttribute)" th:with="randomSuffix=${randomSuffix} == null ? ${#strings.randomAlphanumeric(5)} : ${randomSuffix}, paging = (${paging} == null ? true : ${paging})">
	<section role="grid-component">
		<section role="grid-content">
			<section layout:fragment="grid-content" th:random-suffix="${randomSuffix}"></section>
		</section>	

		<th:block th:if="${paging}">
			<section th:role="'grid-paging-' + ${randomSuffix}">
				<nav aria-label="pagination" id="paginator">
					<div class="btn-group">
						<button role="page-link" th:data-href="${''}" class="btn btn-light" th:id="'page' + ${1}" th:classappend="${'is-current'}" th:text="${1}"></button>
						<button role="page-link" th:data-href="${''}" class="btn btn-light" th:id="'page' + ${2}" th:text="${2}"></button>
						<button role="page-link" th:data-href="${''}" class="btn btn-light" th:id="'page' + ${3}" th:text="${3}"></button>
					
						<button>&hellip;</button>
						
						<button role="page-link" th:data-href="${''}" class="btn btn-light" th:id="'page' + ${4}" th:text="${4}"></button>
						<button role="page-link" th:data-href="${''}" class="btn btn-light" th:id="'page' + ${5}" th:text="${5}"></button>
						<button role="page-link" th:data-href="${''}" class="btn btn-light" th:id="'page' + ${6}" th:text="${6}"></button>
					</div>
					
					<div class="btn-group">
						<button role="page-link" th:data-href="${''}" class="btn btn-light" id="btnFirstPage" th:disabled="${false}"><i class="fa-solid fa-angles-left"></i></button>
						<button role="page-link" th:data-href="${''}" class="btn btn-light" id="btnPreviousPage" th:disabled="${false}"><i class="fa-solid fa-angle-left"></i></button>
						<button role="page-link" th:data-href="${''}" class="btn btn-light" id="btnNextPage" th:disabled="${false}"><i class="fa-solid fa-angle-right"></i></button>
						<button role="page-link" th:data-href="${''}" class="btn btn-light" id="btnLastPage" th:disabled="${false}"><i class="fa-solid fa-angles-right"></i></button>
					</div>
				</nav>				
			</section>
		</th:block>
			
		<form grid-form-type="sort-form" th:action="@{/sort}">
			<input type="hidden" name="currentSortField" th:value="${pagingAndSortingDto.currentSortField}" />
			<input type="hidden" name="currentSortDirection" th:value="${pagingAndSortingDto.currentSortDirection}" />
			<input type="hidden" name="randomSuffix" th:value="${randomSuffix}" />
			<input type="hidden" name="viewName" th:value="${currentUrl}" />
			<input type="hidden" name="sessionAttribute" th:value="${sessionAttribute}" />
		</form>
		
	</section>
</th:block>

<th th:fragment="column-header(text, sortField)" scope="col" th:with="sortDirection = (${pagingAndSortingDto.currentSortField} == ${sortField} ?  ${pagingAndSortingDto.currentSortDirection} : '')" th:sort-field="${sortField}" th:data-type="${dataType}" style="cursor: pointer;">
	<span th:text="${text}"></span>
	<th:block th:insert="~{ :: sort(sortDirection=${sortDirection})}"></th:block>
</th>

<th:block th:fragment="sort" th:with="sortDirection=${sortDirection}">
	<th:block th:if="${sortDirection == 'asc'}">
		<span class="fa-solid fa-sort-up">&nbsp;</span>
	</th:block>
	
	<th:block th:if="${sortDirection == 'desc'}">
		<span class="fa-solid fa-sort-down">&nbsp;</span>
	</th:block>

	<th:block th:if="${sortDirection == ''}">
		<span class="fa-solid fa-sort">&nbsp;</span>
	</th:block>
	
	<th:block th:unless="${sortDirection}">
		<span class="fa-solid fa-sort">&nbsp;</span>
	</th:block>
</th:block>

<body>
