<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thysa-layout :: layout(~{::content}, ~{::page-scripts})}">

<head>
	<title>Thymeleaf Sample Application - Countries</title>
</head>
	<section th:fragment="content">
		<h2>Countries</h2>
		
		<section id="countries-list" style="width:100%;">
			<th:block th:insert="~{application/fragments/countries-fragments :: countries-list}"></th:block>
		</section>
		
	</section>
	
	<th:block th:fragment="page-scripts">
		<script th:src="@{/js/application/countries.js}" type="module"></script>
	</th:block>
</html>