<html xmlns:th="http://www.thymeleaf.org" th:replace="~{thysa-layout :: layout(~{::content}, ~{::page-scripts})}">

<head>
	<title>Thymeleaf Sample Application - Persons</title>
</head>
	<section th:fragment="content">
		<h2>Persons</h2>
		
		<section id="persons-list" style="width:100%;">
			<th:block th:insert="~{application/fragments/persons-fragments :: persons-list}"></th:block>
		</section>
		
	</section>
	
	<th:block th:fragment="page-scripts">
		<script th:src="@{/js/application/persons.js}" type="module"></script>
	</th:block>
</html>