.calendar-place-holder {
    background-color: #ffffff
        /*#ededed*/
    ;
    position: absolute;
    width: 300px;
    border: #cdcdcd 1px solid;
    z-index: 10000;
}

.calendar {
    font-size: smaller;
}

.head {
    font-weight: bolder;
    padding: 0px;
}

.days tr td {
    text-align: center;
}

.months tr td {
    text-align: center;
    vertical-align: middle!important;
    height:50px;
    font-weight: bold;
}

.weekDays td span,
.weekDays td {
    font-weight: bold;
    cursor: default;
}

.notInMoth {
    color: #a1a1a1;
}

.calendarDay, .calendarMonth {
    background-color: #57b846!important;
    color: #fafafa;
    border-radius: 10px;
}

.today {
    background-color: #cdcdcd!important;
    color: #fafafa;
    border-radius: 10px;
}

.selected-month-place-holder {
    text-align: center;
}

.selected-month-place-holder:hover, .time-date div:hover{
    cursor: pointer;
    background-color: #919191;
    color: #fafafa;
    border-radius: 10px;
}

.days tr:nth-child(n+1) td, .months tr:nth-child(n+1) td{
    cursor: pointer;
    border: 0px solid;
}

.days tr:nth-child(n+1) td:hover, .months  tr:nth-child(n+1) td:hover{
    background-color: #060a1313;
    border-radius: 10px;
    color: #010101;

}

.navigation {
    border-spacing: 0px;
    margin: 0px;
}

.today-button-placeholder {
    margin: 0px;
    width: 100%;
    text-align: center;
}

.today-button {
    background-color: #919191;
    color: #fafafa;
}

.time-button {
    background-color: #1b39d19d;
    color: #fafafa;
}

.time-place-holder tr td {
    font-weight: bolder; 
    vertical-align: middle!important;
    text-align: center;
}

.time-date {
    text-align: center!important;
}

.time-date div {
width: 100%;
font-weight: bolder;
}

.time-value td{
    font-size: large;
}

.time-select{
    text-align: center;
}

.selected-date-time{
    font-weight: bold;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .calendar-table tr td {
    padding: 0.50rem;
    border-bottom: 1px solid #dddcdc;
  }
  
  .calendar-table thead th {
    text-align: left;
    /* padding: 0.75rem; */
    padding: 0.50rem;
    padding-bottom: 0.75rem;
    /* border: red 1px solid; */
    /* border-bottom: 1px solid #dcdbdb; */
    border-bottom: 2px inset;
  }